.additionals {
  margin-top: 100px;

  &__header {
    margin-left: 30px;
  }

  &__header-title {
    font-family: $font-family;
    font-size: $font-size + 18;
    line-height: $line-height + 16;
    font-weight: 700;
  }

  &__header-link {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height;
    font-weight: 500;
    display: block;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &__list-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1000px;
    overflow-y: auto;
    overflow-x: hidden;

    &:after {
      content: '';
      position: absolute;
      background-color: $third-color-light;
      top: 150px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      width: 1000px;
    }
  }

  &__list {
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 30px;

    &-item {
      padding-right: 40px;
    }
  }
}

.product-card-mini {

  &__img-wrap {
  }

  &__img {
  }

  &__descr {
  }
}

.additionals .product-mini__title,
.additionals .product-card-mini__descr {
  margin-left: 0;
}

.additionals .product-card-mini__descr {
  padding-bottom: 80px;
}

