.footer {
  height: 80px;
  background-color: #fff;

  &__inner {
    margin: 0 7%;
  }
}

.logo {
  display: block;
  padding-top: 20px;
}

.footer .time {
  display: block;
  padding-top: 5px;
  font-family: $font-family;
  font-size: $font-size + 2;
  color: $gray-darken;

  @media (min-width: $screen-sm) {
    // display: block;
  }
}

.main-nav {

  &__list {
  }

  &__item {
  }

  &__link {
  }
}
