html {
  box-sizing: border-box;
}

* {
  margin: auto;
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $second-color;
  background-color: $main-color;
}

a {
  font-size: $font-size + 4;
  line-height: $line-height + 26;
  color: $link-color;
  text-decoration: none;
  margin: 0;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }

  &:visited {
    text-decoration: none;
    color: $link-color-hover;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}
