.page-header {
  height: 50px;
  background-color: #fff;

  &__inner {
    display: flex;
    margin: 0 7%;
  }
}

a {
  line-height: 0;
}

.logo {
  display: block;
  padding-top: 20px;
}

.time {
  display: none;
  font-family: $font-family;
  font-size: $font-size;
  font-style: italic;
  color: $gray-darken;

  @media (min-width: $screen-sm) {
    display: block;
  }
}

.main-nav {
  display: block;
  margin-right: -7px;
  margin-top: 6px;

  @media (min-width: $screen-sm) {
    display: block;
  }

  &__toggele {
    height: 40px;
    width: 37px;
    position: relative;
    border-color: #fff;
    background-color: #fff;

    .toggele {
      position: absolute;
      top: 19px;
      left: 6px;
      width: 22px;
      height: 2px;
      background: #1f1f1f;
      z-index: 5;

      &:before {
        content: '';
        position: absolute;
        top: -8px;
        left: 0;
        width: 22px;
        height: 2px;
        background: #1f1f1f;
        z-index: 5;
      }

      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 22px;
        height: 2px;
        background: #1f1f1f;
        z-index: 5;
      }
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__list {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__item {
  }

  &__link {
  }
}
