.product {

  &__list-wrap {
  }

  &__list {

  }
}

.advice {

  &__header {
  }

  &__header-subtitle {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 700;
  }

  &__header-text {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 500;
  }
}

.product-card-mini {
  display: flex;
  flex-direction: column;

  &__img-wrap {
    order: 1;
  }

  &__img {
    padding-top: 20px;
    width: 260px;
    height: 370px;
  }

  &__descr {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height;
    font-weight: 500;
    font-style: italic;
    padding-top: 20px;
    order: 3;
  }
}

.product-mini {

  &__title {
    order: 2;
    padding-top: 20px;
  }

  &__title a {
    font-family: $font-family;
    font-size: $font-size + 12;
    line-height: $line-height + 16;
    font-weight: 700;
  }
}
