.recommendation {
  margin: 0 7%;
  display: grid;
  grid-template-columns: 1fr 270px;
  /* stylelint-disable */
  grid-template-areas:
    "recommendation__title recommendation__title"
    "recommendation__inner product__list-wrap";
  /* stylelint-enable */
  grid-column-gap: 25px;

  &__inner {
    grid-area: recommendation__inner;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

  &__title {
    grid-area: recommendation__title;
    font-family: $font-family;
    font-size: $font-size + 38;
    line-height: $line-height + 46;
    font-weight: 700;
  }

  &__blog {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &__blog-title {
  }

  &__blog-text {
  }

  &__blog-link {
  }

  &__book {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__book-title {
  }

  &__book-text {
  }

  &__foto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  &__foto-title {
  }

  &__vote {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  &__vote-title {
  }

  &__vote-text {
  }

  &__vote-btn {
  }

  &__news {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    &__news-title {
    }

    &__news-text {
    }
  }

  &__old {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  &__old-title {
  }

  &__old-text {
  }
}

.product__list-wrap {
  grid-area: product__list-wrap;
}

