.recommendation {
  margin: 0 7%;
  display: grid;
  grid-template-columns: 1fr 270px;
  /* stylelint-disable */
  grid-template-areas:
    "recommendation__title recommendation__title"
    "recommendation__inner product__list-wrap";
  /* stylelint-enable */
  grid-column-gap: 25px;
  padding-bottom: 140px;

  &__inner {
    grid-area: recommendation__inner;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  &__title {
    grid-area: recommendation__title;
    font-family: $font-family;
    font-size: $font-size + 38;
    line-height: $line-height + 46;
    font-weight: 700;
  }

  &__blog {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #fff;
    margin: 0;
    padding: 20px 0 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__blog-title {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 700;
  }

  &__blog-text {
    padding-bottom: 20px;
  }

  &__blog-link {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 700;
    color: $link-color;
    padding-top: 20px;
  }

  &__book {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    background-image: url(../img/img_autumn.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(26, 31, 247, 0.8) 10%, rgba(0, 0, 0, 0.1) 100%);
      z-index: 1;
      border-radius: 5px;
    }
  }

  &__book-title {
    padding-top: 50px;
    font-family: $font-family;
    font-size: $font-size + 12;
    line-height: $line-height + 16;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__book-text {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__foto {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
    background-image: url(../img/img_photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(26, 31, 247, 0.8) 10%, rgba(0, 0, 0, 0.1) 100%);
      z-index: 1;
      border-radius: 5px;
    }
  }

  &__foto-title {
    font-family: $font-family;
    font-size: $font-size + 12;
    line-height: $line-height + 16;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
    padding: 120px 30px;
  }

  &__vote {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #fff;
    margin: 0;
    padding: 10px 0 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__vote-title {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 700;
  }

  &__vote-text {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height ;
    font-weight: 500;
    padding-bottom: 10px;
  }

  &__vote-btn {
  }

  &__vote-btn a {
    font-family: $font-family;
    font-size: $font-size +2;
    line-height: $line-height + 6;
    font-weight: 700;
    color: #fff;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #000;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  &__news {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #ce6194;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__news-title {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 500;
    color: #fff;
  }

  &__news-text {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 500;
    color: #fff;
  }

  &__old {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url(../img/img_old.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:before {
      content: '';
      position: absolute;
      width: 943px;
      height: 178px;
      background-color: $third-color;
      opacity: 0.8;
      z-index: 1;
      border-radius: 5px;
    }
  }

  &__old-title {
    padding-top: 60px;
    font-family: $font-family;
    font-size: $font-size + 12;
    line-height: $line-height + 16;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
  }

  &__old-text {
    font-family: $font-family;
    font-size: $font-size + 4;
    line-height: $line-height + 16;
    font-weight: 500;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 3;
  }
}

.product__list-wrap {
  grid-area: product__list-wrap;
}

