@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat-v12-latin_cyrillic-ext-500.woff') format('woff'), url('../fonts/montserrat-v12-latin_cyrillic-ext-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat-v12-latin_cyrillic-ext-700.woff') format('woff'), url('../fonts/montserrat-v12-latin_cyrillic-ext-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff') format('woff'), url('../fonts/montserrat-v12-latin_cyrillic-ext-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

